<h1>Listing story_sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @story_sections.each do |story_section| %>
  <tr>
    <td><%= story_section.name %></td>
    <td><%= story_section.position %></td>
    <td><%= link_to 'Show', story_section %></td>
    <td><%= link_to 'Edit', edit_story_section_path(story_section) %></td>
    <td><%= link_to 'Destroy', story_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_story_section_path %>
