<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @story_section.name %>
</p>

<p>
  <b>Position:</b>
  <%= @story_section.position %>
</p>


<%= link_to 'Edit', edit_story_section_path(@story_section) %> |
<%= link_to 'Back', story_sections_path %>
