%div.story
  = form_for @story, :html => {:id => "story_form"} do |form|
    %fieldset
      %legend
        = t("stories.form.data_title")
      = error_messages_for @story
      %ul
        %li
          = form.label :title
          = form.text_field :title
        %li
          = form.label :date
          = form.date_select :date, :start_year => 1900, :end_year => Date.today.year
        %li
          = form.label :section_id
          = form.select :section_id, Story::Section.all.map{ |s| [s.name, s.id] }
        %li
          = form.label :tag_list
          = form.text_field :tag_list
        %li
          = form.check_box :draft
          = form.label :draft
        %li
          = form.check_box :breaking
          = form.label :breaking

    %fieldset
      %legend
        = t("stories.form.text_title")
      %ul
        %li
          = form.label :intro
          = form.text_area :intro, :size => "60x15", :class => "wysiwyg-editor"
        %li
          = form.label :content
          = form.text_area :content, :size => "60x25", :class => "wysiwyg-editor"

    = buttons_bar do
      = button_ok
      = button_cancel(stories_path)
