.story
  - if short
    %h2= link_to(item.title, story_path(item))
  - else
    %h1= item.title

  .user_photo
    = raw user_photo(item.user)
  .metadata
    = t("stories.metadata", :user => item.user.complete_name, :date => l(item.date, :format => :as_date), :section => item.section.name)
  - if short
    .intro
      = truncate(sanitize([item.intro,item.content].join("&nbsp;"), :tags => []), :length => 300)
  - else
    .intro
      = sanitize item.intro
    .text 
      = sanitize item.content

  = tag_list item

  - if !short and current_user and current_user.admin?
    .buttons
      = link_button_edit(edit_story_path(item))
      = link_button_delete(story_path(item))
