- content_for :page_title, t("stories.page_title") 

%h1
  = t("stories.title")

%div.stories 
  = render :partial => "item", :collection => @stories, :locals => { :short => true }

= will_paginate @stories

- content_for :secondary_bar do
  - if current_user and current_user.admin?
    .box.manage_box
      %h2= t("stories.manage.title")
      .content
        .story_manage
          %ul
            %li= link_to t("stories.new.link"), new_story_path 
            %li= link_to t("stories.drafts.link"), drafts_stories_path 

  .box.section_box
    %h2= t("stories.sections.title")
    .content
      .story-sections
        %ul
          - Story::Section.order('position').each do |section|
            %li= link_to(section.name, {:section => section}, :class => "section")
  = #tag_cloud_generator(Story)
