- content_for :page_title, t("stories.page_title") 

%h1
  = @story.title

%div.story
  %div.user-photo
    = raw user_photo(@story.user)
  %div.metadata
    = t("stories.metadata", :user => @story.user, :date => @story.date)
  %div.intro
    = @story.intro
  %div.text 
    = @story.content

  %div.buttons
    = link_button_edit(edit_story(@story))
    = link_button_delete(delete_story(@story))
